/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  cursor: url('foweoif.png') , auto;
}

.container {
  width: 100%;

  margin: auto;
  overflow: hidden;
}

/* Header styles */
header {
  background: #333;
  color: #fff;
  padding-top: 50px;
  min-height: 150px;
  border-bottom: #d3d3d3 3px solid;
  
}

  #search-form {

    right: 20px;
    margin-left: 1200px;
  }


#search-query {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Space between input and button */
  align-items: center;
  
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  
}

#search-button {
  width: 24px; /* Adjust size as needed */
  height: 24px;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
  transition: transform 0.3s ease; 
  display: block;
  margin: 0 auto;
}

header h1:hover {
  
  color: rgb(42, 180, 180);
}

.logo-container {
  max-width: 150px; /* Limit the logo width */
  position: absolute;
  margin-top: -100px;
}

.logo {
  width: 100%; /* Ensures the logo scales properly */
size: 20px;
margin-top: 0cm;
}


nav ul {
  text-align: center;
  padding: 10px 0;
  padding-top: 50px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease; 
}
nav ul li a:hover {
  color: rgb(48, 183, 183);
  transform: scale(1.2);
}

/* Section styles */
section {
  padding: 20px 0;
  text-align: center;
}

#about p {
  width: 70%;
  margin: 10px auto;
  font-size: 18px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#port {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#port .work-item {
  transition: transition: transform 0.9s ease; 
}
#port .work-item:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.work-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-item {
  width: 45%;
  margin-bottom: 20px;
}

.work-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.work-item h3 {
  font-size: 20px;
  margin-top: 10px;
}

/* Contact section styles */
#contact p {
  font-size: 18px;
}

#contact a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer p {
  font-size: 14px;
}

